body {
	--main-bgcolor: #f3f5f6;
	--main-color: #000;
	--link-color: #49e;
	--header-bgcolor: #fff;
	--header-color: #000;
	--footer-bgcolor: #fff;
	--border-color: #ccc;
	--warn-bgcolor: rgba(255, 153, 0, 0.1);
	--error-bgcolor: rgba(255, 0, 0, 0.1);
	--sel-bgcolor: rgba(255, 204, 0, 0.3);
	--header-button-bgcolor: #fff;
	--header-button-border-color: rgba(0, 0, 0, 0.3);
	--header-button-color: #000;

	--dialog-bgcolor: #fff;
	--dialog-color: #000;

	--highlight-kwd-color: #d00;
	--highlight-pln-color: #000;
	--highlight-str-color: #090;
	--highlight-pun-color: #666;
	--highlight-dec-color: #f90;
	--highlight-typ-color: #49e;
	--highlight-com-color: #999;
}

body {
	font-size: 14px;
	line-height: 18px;
	-webkit-text-size-adjust: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	margin: 0;
	background: var(--main-bgcolor);
	color: var(--main-color);
	overflow: hidden;
}

body.moving iframe {
	pointer-events: none;
	/* for mouse capturing to work properly when moving splitters */
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

.editor,
.shadow,
.log {
	font-weight: normal;
}

a {
	color: var(--link-color);
}

.header {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	background: var(--header-bgcolor);
	color: var(--header-color);
}

.header .logo {
	display: inline-block;
	width: 63px;
	height: 48px;
	/*background: url(gopher.svg);*/
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 10px;
}

.header .menu {
	margin-left: 70px;
	display: flex;
	align-items: center;
	position: relative;
}

.header .settings {
	position: fixed;
	right: 1.2em;
	top: 14px;
}

.header .settings select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	outline: none;
	border: none;
	background: none;
	border-bottom: 1px dotted;
	border-radius: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;
}

.header .settings select option {
	padding: 0;
	color: initial;
}

.header .title {
	margin: 0 1em;
	display: inline-block;
}

button {
	min-width: 6em;
	font-size: 14px;
	background: var(--header-button-bgcolor);
	color: var(--header-button-color);
	border: 1px solid var(--header-button-border-color);
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	margin: 0 0.5em;
	padding: 0.3em 1em;
}

button[disabled] {
	opacity: 0.5;
}

button cmd {
	opacity: 0.4;
	font-size: 90%;
}

.ios button cmd {
	display: none;
}

.body-wrapper {
	position: absolute;
	top: 55px;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}

.content-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	height: 75%;
	box-sizing: border-box;
	border-bottom: 1px solid var(--border-color);
}

.log-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
	box-sizing: border-box;
}

.editor-wrapper,
.output-wrapper {
	position: absolute;
	top: 0;
	height: 100%;
	box-sizing: border-box;
}

.editor-wrapper {
	left: 0;
	width: 100%;
	overflow: auto;
}

.output-wrapper {
	right: 0;
	overflow: hidden;
}

.withsidebar .editor-wrapper,
.withsidebar .output-wrapper {
	width: 50%;
}

.withsidebar .editor-wrapper {
	border-right: 1px solid var(--border-color);
}

.editor,
.shadow,
.log,
textarea,
code,
kbd {
	font-size: 14px;
	line-height: 18px;
	font-family: 'Fira Code', Menlo, Consolas, monospace;
}

code,
kbd {
	line-height: 14px;
}

.editor,
.shadow,
.log {
	padding: 0.5em;
}

.editor,
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding-left: 55px;
}

.editor {
	border: 0;
	margin: 0;
	background: none;
	outline: none;
	resize: none;
	color: var(--main-color);
}

.editor.highlighted {
	color: rgba(0, 0, 0, 0) !important;
	caret-color: var(--main-color);
}

.safari .editor.highlighted {
	color: var(--main-color) !important;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.ios .editor {
	/* see https://stackoverflow.com/questions/6890149/remove-3-pixels-in-ios-webkit-textarea */
	margin-left: -3px;
}

.editor,
.log,
.shadow ol li {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.shadow {
	pointer-events: none;
	color: rgba(0, 0, 0, 0);
}

.shadow ol {
	margin: 0;
	padding: 0;
	counter-reset: li;
	list-style-type: none;
}

.shadow ol li {
	margin: 0;
	padding: 0;
	min-height: 18px;
}

.shadow ol li::before {
	content: counter(li);
	margin-left: -40px;
	display: inline-block;
	width: 40px;
	color: rgba(0, 0, 0, 0.4);
	counter-increment: li;
	font-size: 10px;
	text-align: right;
	box-sizing: border-box;
	padding-right: 15px;
	overflow: hidden;
	height: 18px;
	float: left;
	pointer-events: all;
}

.log {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: auto;
	background: var(--footer-bgcolor);
}

.log .time {
	padding-right: 1em;
	opacity: 0.5;
}

.log .stderr {
	color: #d00;
}

.log .final {
	opacity: 0.5;
	font-style: italic;
	margin-top: 1em;
}

.log .status::before {
	content: '›';
	color: var(--main-color);
	opacity: 0.5;
	display: inline-block;
	margin-left: -1em;
	width: 1em;
}

.log .status {
	color: #0a0;
	margin-top: 1em;
	margin-left: 1em;
}

.log .status.error {
	color: #d00;
}

.log .status .prefix {
	color: rgba(0, 0, 0, 0.5);
}

/* Help styles */

.help-browser {
	position: absolute;
	bottom: -1px;
	/* to hide odd 1px div#lowframe on golang.org */
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 0;
}

.help {
	height: 100%;
	box-sizing: border-box;
	padding: 1em;
	overflow: auto;
}

.help h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
}

.help h2 {
	font-size: 17px;
	font-weight: normal;
	margin: 1.5em 0 0;
}

.help code {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 0 0.3em;
}

.help .github-button {
	position: relative;
	top: 5px;
	margin-left: 1em;
}

/* Syntax highlighter (light scheme) */

.kwd {
	color: var(--highlight-kwd-color);
}

.pln {
	color: var(--highlight-pln-color);
}

.str {
	color: var(--highlight-str-color);
}

.pun {
	color: var(--highlight-pun-color);
}

.dec {
	color: var(--highlight-dec-color);
}

.typ {
	color: var(--highlight-typ-color);
}

.com {
	color: var(--highlight-com-color);
}

/* Settings dialog */

.settings-dialog {
	padding: 0.5em 2em;
	background: var(--dialog-bgcolor);
	color: var(--dialog-color);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: inline-block;
	right: 1.7em;
	position: absolute;
	top: 54px;
	border: 1px solid var(--border-color);
}

.tabwidth-2 {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}

.tabwidth-4 {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.tabwidth-6 {
	-moz-tab-size: 6;
	-o-tab-size: 6;
	tab-size: 6;
}

.tabwidth-8 {
	-moz-tab-size: 8;
	-o-tab-size: 8;
	tab-size: 8;
}

/* Splitters */

.splitter {
	background: #000;
	position: absolute;
	opacity: 0;
}

.splitter:hover,
.splitter.moving {
	opacity: 0.1;
}

.splitter.col {
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	cursor: col-resize;
}

.splitter.row {
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
	cursor: row-resize;
}

/* we only need this wrapper to set z-index and fix the issue
of bleeding corners (statusbar corners will show up even if its
parent has a border radius) */
.statusbar-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	z-index: 3;
}

.statusbar-wrapper .statusbar {
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
	background: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.canvas-wrapper .statusbar kbd {
	background: rgba(0, 0, 0, 0.2);
	padding: 0.1em 0.3em;
	border-radius: 3px;
	color: rgba(255, 255, 255, 0.7);
}